.container{
    margin-top: 80px;
    width: 100%;
    min-height: 100px;
    // border: solid 1px;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    
    .title{
        // border: solid 1px;
        align-self: center;
        font-size: 1.6em;
        font-weight: 600;
        color: #ffffff;  
    }

    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .contacts, .illustration{
            //  border: solid 1px;
             flex-grow: 1;
        }    

    }  
    
}

.illustration{
    display: flex;
    justify-content: center;
    
}

.contacts{
    display: flex;
    padding: 2em;
    flex-direction: column;
    

    .card{
        display: flex;
        flex-direction: row;
        padding: 0.2em;
        margin-bottom: 1em;
        background-color: #E9E5D4;
        border-radius: 1em;
        justify-content:space-evenly;
        min-width: fit-content;
       
        
        
        span{
            align-self: center;
            margin-left: 10px;
            margin-right: 10px;
            // font-size: 1.2em;
            font-weight: 600;
            color: #032D30; 
        }
    }
    

}

//responsive
 @media (max-width: 575.98px) {
    .illustration{
        img{
            height: 20em;
            width: auto;
        }
    }

    .card{
        img{
            height: 3em;
            width: auto;
        }

        span{
            font-size: 1em;

        }
    }
 }

 @media (min-width: 575.98px) {

    .illustration{
        img{
            height: 30em;
            width: auto;
        }
    }

    .card{
        img{
            height: 3.5em;
            width: auto;
        }

        span{
            font-size: 1.2em;
        }


    }
 }