// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

*{
  font-family: 'Poppins';
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D37239; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cd5d1c; 
}
body{
  background-color: #032D30;
  overflow-x: hidden;
    
  background-image: url(./Assets/images/background.svg);
  background-size:  30% auto;
  // background-repeat: no-repeat;
  
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav{
  position: fixed;
  margin: 0 auto;
  align-self: center;
  top: 0px;
  max-width: 1400px;
  width: 100%;
  z-index: 100;
}

.content{
  // border: 2px solid;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  // filter:blur(2px);
  //   -o-filter:blur(2px);
  //   -ms-filter:blur(2px);
  //   -moz-filter:blur(2px);
  //   -webkit-filter:blur(2px);
}

.waves{
  position: fixed;
  width: 100%;
  min-height: 80%;
  z-index: -1;
  bottom: 0;
  padding: 0;
  
  svg{
    position: absolute;
    bottom: 0;
    min-height: 80%;


  }
}
.path-0{
  animation:pathAnim-0 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,600 C 0,600 0,300 0,300 C 74.47846889952152,350.6507177033493 148.95693779904303,401.30143540669854 235,381 C 321.04306220095697,360.69856459330146 418.6507177033493,269.444976076555 530,244 C 641.3492822966507,218.555023923445 766.4401913875599,258.9186602870813 863,304 C 959.5598086124401,349.0813397129187 1027.5885167464114,398.88038277511964 1119,399 C 1210.4114832535886,399.11961722488036 1325.2057416267944,349.5598086124402 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,300 0,300 C 104.54545454545453,292.5933014354067 209.09090909090907,285.1866028708134 295,292 C 380.90909090909093,298.8133971291866 448.18181818181824,319.84688995215316 528,326 C 607.8181818181818,332.15311004784684 700.1818181818181,323.42583732057415 813,302 C 925.8181818181819,280.57416267942585 1059.0909090909092,246.44976076555025 1167,244 C 1274.9090909090908,241.55023923444975 1357.4545454545455,270.77511961722485 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,300 0,300 C 61.80861244019138,264.1531100478469 123.61722488038276,228.3062200956938 236,234 C 348.38277511961724,239.6937799043062 511.3397129186603,286.9282296650718 621,310 C 730.6602870813397,333.0717703349282 787.0239234449759,331.98086124401914 863,323 C 938.9760765550241,314.01913875598086 1034.5645933014355,297.1483253588517 1134,292 C 1233.4354066985645,286.8516746411483 1336.7177033492821,293.42583732057415 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,300 0,300 C 79.35885167464113,258.3444976076555 158.71770334928226,216.68899521531102 254,213 C 349.28229665071774,209.31100478468898 460.48803827751203,243.58851674641147 554,246 C 647.511961722488,248.41148325358853 723.3301435406698,218.95693779904303 814,240 C 904.6698564593302,261.04306220095697 1010.1913875598086,332.5837320574163 1117,351 C 1223.8086124401914,369.4162679425837 1331.9043062200958,334.7081339712919 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,300 0,300 C 74.47846889952152,350.6507177033493 148.95693779904303,401.30143540669854 235,381 C 321.04306220095697,360.69856459330146 418.6507177033493,269.444976076555 530,244 C 641.3492822966507,218.555023923445 766.4401913875599,258.9186602870813 863,304 C 959.5598086124401,349.0813397129187 1027.5885167464114,398.88038277511964 1119,399 C 1210.4114832535886,399.11961722488036 1325.2057416267944,349.5598086124402 1440,300 C 1440,300 1440,600 1440,600 Z");
  }
}