.container{
    min-height: 500px;
    display: flex;
    background-color: #e9e5d4e8;
    border-radius: 30px;
    flex-wrap: wrap-reverse;
    backdrop-filter: blur( 0.1px );
    -webkit-backdrop-filter: blur( .1px );

   
}

.contentLeft{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: fit-content;
    cursor: default;

    .sec1{
        color: #173A45;
        font-weight: 800;
        margin-bottom: 0.6em;
    }

    .sec2{
        color: #D37239;
        align-self: center;
        font-weight: 600;
        font-family: "poppins";
        margin-bottom: .7em;
        display: flex;
        flex-direction: column;

        .line{
            background-color: #93C3CD;
            width: 230px;
            border-radius: 15px;
            height: 7px;
            align-self: flex-end;

        }
       
    }

    .sec2:hover{
        .line{
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
          }
          
          @keyframes shake {
            10%, 90% {
              transform: translate3d(-2px, 0, 0);
            }
            
            20%, 80% {
              transform: translate3d(4px, 0, 0);
            }
          
            30%, 50%, 70% {
              transform: translate3d(-8px, 0, 0);
            }
          
            40%, 60% {
              transform: translate3d(8px, 0, 0);
            }
          }
    }
    
    .sec3{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #030812;

        span{
            text-shadow: 1px;
            font-weight: 600;
            text-shadow: 0px 4px 4px #00000052;
        }

        .part1{
            display: flex;
            flex-direction: column;

            .line{
                display: flex;
                flex-direction: row;

                .line1{
                    background-color: #4D9677;
                    flex-grow: 11;
                    border-radius: 15px;
                    height: 7px;
                    margin-right: 20px;

                }

                .line2{
                    background-color: #EC4A46;
                    flex-grow: 8;
                    border-radius: 15px;
                    height: 7px;
                }
            }

        }

        .part1:hover{
            .line1,.line2{
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
              }
              
              @keyframes shake {
                10%, 90% {
                  transform: translate3d(-2px, 0, 0);
                }
                
                20%, 80% {
                  transform: translate3d(4px, 0, 0);
                }
              
                30%, 50%, 70% {
                  transform: translate3d(-8px, 0, 0);
                }
              
                40%, 60% {
                  transform: translate3d(8px, 0, 0);
                }
              }
        }


        .part2{
            display: flex;
            flex-direction: column;

            .line{
                background-color: #7D7D54;
                width: 100%;
                border-radius: 15px;
                height: 7px;
            }
        }
        .part2:hover{
            .line{
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
              }
              
              @keyframes shake {
                10%, 90% {
                  transform: translate3d(-2px, 0, 0);
                }
                
                20%, 80% {
                  transform: translate3d(4px, 0, 0);
                }
              
                30%, 50%, 70% {
                  transform: translate3d(-8px, 0, 0);
                }
              
                40%, 60% {
                  transform: translate3d(8px, 0, 0);
                }
              }
        }
    }

    
}

.contentRight{
    .contacts{
        display: flex;
        position: absolute;
        z-index: 1;

        .icon{
            margin-right: 10px;
            height: fit-content;
            width: auto;
            padding: 3px;
            border: 0.3em solid;
            border-color: #173A45;
            border-radius: 50%;
            display: flex;
            box-shadow: 0px 0px 6px #000000b3;
            transition: 0.5s;

             img{
                 align-self: center;
             }
        }

        .icon:hover{
          transition: 0.70s;
          -webkit-transition: 0.70s;
          -moz-transition: 0.70s;
          -ms-transition: 0.70s;
          -o-transition: 0.70s;
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
       
        }
       
        

        
    }

    .imgContainer{
        img{
            height: auto;
            
            
        }
    }
}


//responsive
 @media (max-width: 576px) { 
   .container{
      justify-content: center;
      align-items: center;
      max-width: 90%;
      
      
      .sec3{
        padding-bottom: 10px;
      }
   }
   //font size
    .sec1{
        font-size: 2.5em;
    }
    .sec2{
        font-size: 1.7em;
    }
    .sec3{
        font-size: 1.5em;
    }
    
  .contentRight{
    .contacts{
      transform:translate(0,80%);

      .icon{
        img{
          height: 3em;
          width: auto;
        }
      }
      
    }
    .imgContainer{
      img{
          width: 75vw;
          max-width: 25em;
          transform: scale(1.3);

      }
      

  }

  }  
    

  }

  @media (min-width: 576px) {
    .container{
      margin-left: 20px;
      margin-right: 20px;
      max-width: max-content;
      justify-content: center;
      align-items: center;
    }
    .contentLeft{
      padding: 30px;
  
      .sec3{
        padding: 20px;
      }
    }
    //font size
      .sec1{
          font-size: 3em;
      }
      .sec2{
          font-size: 1.9em;
      }
      .sec3{
          font-size: 2em;
      }
  
      .contentRight{
        .contacts{
          transform:translate(30%,80%);
  
          .icon{
            img{
              height: 60px;
              width: auto;
            }
          }
  
        }
  
        .imgContainer{
          img{
              transform: scale(1.3) translate(40px,-20px);
              width: 30em;
  
          }
          
  
  
      }
      
      }
  }

@media (min-width: 768px) { 
    .container{
      max-width: 75%;
    }
  
   }

@media (min-width: 1080px) { 
  .imgContainer{
    img{
      width: 25em;
    }
  }

 }

@media (min-width: 1200px) {
  .imgContainer{
    img{
      width: 30em;
    }
  }

 }